// _contacto.scss
form {
    .form-control {
        border-color: #00000062;
        transition: border-color $transicion;

    &:focus {
        border-color: $color-principal;
        }
    }

    .btn-dark {
        font-family: $fuente-base;
        background-color: $color-principal-dark;

    &:hover {
        background-color: $color-hover;
        }
    }
}
